@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family:"Belleza", sans-serif, Arial, Helvetica;
  font-display: swap;  /* Ensures the text is visible while the font is loading */
  background-color: #fff; /* Ensure background is solid */
  color: #333; /* Ensure text is not faint */
  
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
